@model HomeIndexViewModel
@{
ViewData["Title"] = "Home Page";
}

<div class="container mt-5">

    <div class="text-center mb-5">
        <h1 class="display-4 fw-bold">Level Up Your Coding Skills</h1>
        <p class="lead text-muted">
            Complete challenges. Track progress. Improve daily.
        </p>

        <a asp-controller="Challenges"
           asp-action="Index"
           class="btn btn-dark btn-lg mt-3">
            Browse Challenges
        </a>
    </div>
</div>