@model SubmissionDisplayDto
<div class="modal fade" id="cancelSubmissionModal-@Model.SubmissionId" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Cancel Submission</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Are you sure you want to cancel this submission?
            </div>

            <div class="modal-footer">

                <form id="cancelSubmissionForm-@Model.SubmissionId" method="post" 
                    asp-controller="Submissions"
                    asp-action="Cancel"
                    asp-route-challengeId="@Model.ChallengeId"
                    asp-route-redirectToSubmissions="true">
                    <input type="hidden" name="submissionId" id="submissionIdField" />

                    <button type="button" class="btn btn-secondary"
                            data-bs-dismiss="modal">
                        Close
                    </button>

                    <button type="submit" class="btn btn-danger">
                        Cancel Submission
                    </button>
                </form>

            </div>

        </div>
    </div>
</div>

<style>
    body.dark-mode .modal-content {
        background-color: #1e1e2e;
        color: #cdd6f4;
        border: 1px solid #313244;
    }

    body.dark-mode .modal-header {
        border-bottom-color: #313244;
    }

    body.dark-mode .modal-footer {
        border-top-color: #313244;
    }

    body.dark-mode .btn-close {
        filter: invert(1) grayscale(100%) brightness(200%);
    }

    body.dark-mode .btn-secondary {
        background-color: #313244;
        border-color: #45475a;
        color: #cdd6f4;
    }

        body.dark-mode .btn-secondary:hover {
            background-color: #45475a;
            border-color: #585b70;
        }
        body.dark-mode .modal-backdrop {
    background-color: #000;
    opacity: 0.7 !important;
}
</style>